<div class="centered">
  <h2>Toppings</h2>
  <div class="btn-group-vertical toppings-menu">
    <button type="button" class="btn btn-primary" *ngFor="let topping of toppings" (click)="toggleTopping(topping)"> {{topping}} </button>
  </div>

<h2>Pizzas</h2>
</div>
<div class="row">
  <div class="col-sm-6" *ngFor="let pizza of pizzas$ | async" (click)="setActivePizza(pizza.id)">
    <div class="card pizza" [ngClass]="{'active': pizza.id === activePizzaId}">
      <div class="card-body">
          <img src="https://img.clipartxtras.com/c286fc515e531e5fdb4aa839bc81fea9_pizza-clipart-margherita-pizza-pencil-and-in-color-pizza-clipart-pizza-margherita-clipart_1300-975.jpeg">
        <div class="card-text" *ngIf="pizza.id === activePizzaId">
          <h6>Toppings: </h6>
          <span class="badge badge-primary pizza-topping" *ngFor="let topping of activePizzaToppings$ | async; let last = last;" (click)="toggleTopping(topping)">
  {{topping}} <span class="pizza-topping-close">X</span>
          </span>
           <span *ngIf="!(activePizzaToppings$ | async).length">none selected.</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="centered">
<button  type="button" class="btn btn-success add-new" (click)="newPizza()">Add A New Pizza</button>
</div>
