:host {
    display: inline-block;
}

.p-width {
    width: 300px;
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}