


<mat-sidenav-container>
    <mat-sidenav #sidenav [opened]="showSidenav$ | async" (closed)="closeSidenav()">Start</mat-sidenav>
    <mat-sidenav-content>
        <nav>
            <div class="nav-wrapper cyan lighten-0">
              <a class="brand-logo" routerLink="/">Akita Store</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li *showIfLogged="true"><a (click)="logout()">Logout</a></li>
                <li *showIfLogged="false">
                    <a routerLinkActive="red-text text-lighten-2" [routerLink]="'login'">Login</a>
                  </li>
                  
                <li *ngFor="let item of navItems">
                  <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="red-text text-lighten-2" [routerLink]="item.toLowerCase()">{{item}}</a>
                </li>
                
                <li><a routerLinkActive="red-text text-lighten-2" routerLink="cart">Cart <span class="new badge">{{count$ | async}}</span></a></li>
              </ul>
            </div>
          </nav>
          
          <!-- <button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button> -->
          <button mat-button (click)="openSidenav()">openSidenav()</button>
          <p>{{ name$ | async}}</p>
          
          <div class="container" class="padding">
            <router-outlet></router-outlet>
          </div>
          
    </mat-sidenav-content>
</mat-sidenav-container>